Repository kubernetes/cloud-provider-gcp, pull requests merged in 2020-11, with the labels that each got.

#172 Update k8s.io/klog to k8s.io/klog/v2 for gke-exec-auth-plugin
  cmd/cloud-controller-manager/app/BUILD
  cmd/gke-exec-auth-plugin/BUILD
  cmd/gke-exec-auth-plugin/cache.go
  cmd/gke-exec-auth-plugin/main.go
  cmd/gke-exec-auth-plugin/request.go
  cmd/gke-exec-auth-plugin/tpm.go
  go.mod
  go.sum
  vendor/k8s.io/klog/v2/README.md
  vendor/k8s.io/klog/v2/SECURITY.md
  vendor/k8s.io/klog/v2/klog.go
  vendor/k8s.io/kubernetes/pkg/util/flag/BUILD
  vendor/k8s.io/kubernetes/pkg/util/flag/flags.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L, ¯\_(ツ)_/¯

#168 Add auth-provider-gcp for out-of-tree credential provision
  cluster/gce/config-default.sh
  cluster/gce/gci/configure-helper.sh
  cluster/gce/gci/configure.sh
  cluster/gce/util.sh
  cmd/auth-provider-gcp/BUILD
  cmd/auth-provider-gcp/app/BUILD
  cmd/auth-provider-gcp/app/getcredentials.go
  cmd/auth-provider-gcp/main.go
  cmd/auth-provider-gcp/provider/BUILD
  cmd/auth-provider-gcp/provider/provider.go
  cmd/auth-provider-gcp/provider/provider_test.go
  pkg/apis/credentialprovider/BUILD
  pkg/apis/credentialprovider/README.md
  pkg/apis/credentialprovider/doc.go
  pkg/apis/credentialprovider/install/BUILD
  pkg/apis/credentialprovider/install/install.go
  pkg/apis/credentialprovider/register.go
  pkg/apis/credentialprovider/types.go
  pkg/apis/credentialprovider/v1alpha1/BUILD
  pkg/apis/credentialprovider/v1alpha1/doc.go
  pkg/apis/credentialprovider/v1alpha1/register.go
  pkg/apis/credentialprovider/v1alpha1/types.go
  pkg/apis/credentialprovider/v1alpha1/zz_generated.conversion.go
  pkg/apis/credentialprovider/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/credentialprovider/v1alpha1/zz_generated.defaults.go
  pkg/apis/credentialprovider/zz_generated.deepcopy.go
  pkg/credentialconfig/BUILD
  pkg/credentialconfig/README.md
  pkg/credentialconfig/config.go
  pkg/credentialconfig/config_test.go
  pkg/credentialconfig/provider.go
  pkg/credentialconfig/provider_test.go
  pkg/gcpcredential/BUILD
  pkg/gcpcredential/README.md
  pkg/gcpcredential/gcpcredential.go
  release/BUILD
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XXL

#174 Update gcp-controller-manager to use k8s.io/klog/v2
  cmd/gcp-controller-manager/BUILD
  cmd/gcp-controller-manager/csr_approver.go
  cmd/gcp-controller-manager/csr_approver_test.go
  cmd/gcp-controller-manager/csr_signer.go
  cmd/gcp-controller-manager/main.go
  cmd/gcp-controller-manager/node_annotator.go
  cmd/gcp-controller-manager/node_syncer.go
  cmd/gcp-controller-manager/service_account_verifier.go
  cmd/gke-exec-auth-plugin/BUILD
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S
