Repository kubernetes/cloud-provider-gcp, pull requests merged in 2021-02, with the labels that each got.

#186 test: update pause-win image to the new one k8s.gcr.io/pause:3.4.1
  cluster/gce/windows/k8s-node-setup.psm1
  cluster/gce/windows/smoke-test.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, sig/testing, sig/windows, size/XS

#185 Add DNS csr verification for gcp-controller-manager
  cmd/gcp-controller-manager/csr_approver.go
  cmd/gcp-controller-manager/csr_approver_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#188 cluster: Remove inactive members from OWNERS
  cluster/OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS
