Repository kubernetes/cloud-provider-gcp, pull requests merged in 2022-09, with the labels that each got.

#363 Remove dependency on stacktype input from gce
  providers/gce/gce_instances.go
  providers/gce/gce_instances_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L, ok-to-test

#365 Remove race betwen kubelet startup and mounter rootfs
  cluster/gce/gci/configure-helper.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#369 Instance group hint fixes
  .bazelrc
  cmd/gcp-controller-manager/main.go
  cmd/gcp-controller-manager/node_csr_approver.go
  cmd/gcp-controller-manager/node_csr_approver_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L, ok-to-test

#368 Delete nodes if the GCE instance id changes and pods bound to the deleted node
  cmd/gcp-controller-manager/BUILD
  cmd/gcp-controller-manager/node_csr_approver.go
  cmd/gcp-controller-manager/node_csr_approver_test.go
Labels: approved, cncf-cla: yes, lgtm, sig/network, size/M, ok-to-test

#372 Bump repository to v1.25.2
  WORKSPACE
  cluster/gce/gci/BUILD
  ginko-test-package-version.env
  go.mod
  go.sum
  providers/go.mod
  providers/go.sum
  tools/version.sh
  vendor/github.com/google/go-cmp/cmp/compare.go
  vendor/github.com/google/go-cmp/cmp/export_panic.go
  vendor/github.com/google/go-cmp/cmp/export_unsafe.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/debug_disable.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/debug_enable.go
  vendor/github.com/google/go-cmp/cmp/internal/flags/BUILD
  vendor/github.com/google/go-cmp/cmp/internal/flags/toolchain_legacy.go
  vendor/github.com/google/go-cmp/cmp/internal/flags/toolchain_recent.go
  vendor/github.com/google/go-cmp/cmp/internal/value/name.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer_purego.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer_unsafe.go
  vendor/github.com/google/go-cmp/cmp/path.go
  vendor/github.com/google/go-cmp/cmp/report_compare.go
  vendor/github.com/google/go-cmp/cmp/report_reflect.go
  vendor/github.com/google/go-cmp/cmp/report_slices.go
  vendor/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/writers.go
  vendor/k8s.io/client-go/plugin/pkg/client/auth/exec/exec.go
  vendor/k8s.io/client-go/rest/request.go
  vendor/k8s.io/client-go/transport/cache.go
  vendor/k8s.io/client-go/transport/config.go
  vendor/k8s.io/client-go/transport/transport.go
  vendor/k8s.io/kubernetes/pkg/apis/core/validation/events.go
  vendor/k8s.io/kubernetes/pkg/features/kube_features.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, size/XL
