Repository kubernetes/cloud-provider-gcp, pull requests merged in 2022-08, with the labels that each got.

#356 Run go1.19rc2 fmt ./... as the repo got upgraded to using go1.19rc2 and go fmt output changed!
  cmd/gke-exec-auth-plugin/tpm.go
  cmd/gke-gcloud-auth-plugin/cred/cred.go
  cmd/gke-gcloud-auth-plugin/cred/default_credentials_token_provider.go
  cmd/gke-gcloud-auth-plugin/cred/gcloud_token_provider.go
  crd/client/gcpfirewall/clientset/versioned/fake/register.go
  crd/client/gcpfirewall/clientset/versioned/scheme/register.go
  pkg/controller/nodeipam/ipam/doc.go
  pkg/credentialconfig/config.go
  pkg/csrapproval/csrapproval.go
  pkg/gcpcredential/gcpcredential.go
  providers/gce/gce_util.go
Labels: needs-ok-to-test, approved, cncf-cla: yes, lgtm, sig/network, size/M, ok-to-test

#352 Adding gcloud edge-cloud token provider
  cmd/gke-gcloud-auth-plugin/BUILD
  cmd/gke-gcloud-auth-plugin/cred.go
  cmd/gke-gcloud-auth-plugin/cred/BUILD
  cmd/gke-gcloud-auth-plugin/cred_test.go
  cmd/gke-gcloud-auth-plugin/default_credentials_token_provider.go
  cmd/gke-gcloud-auth-plugin/gcloud_edge_cloud_token_provider.go
  cmd/gke-gcloud-auth-plugin/gcloud_token_provider.go
  cmd/gke-gcloud-auth-plugin/main.go
  cmd/gke-gcloud-auth-plugin/token_provider.go
Labels: approved, cncf-cla: yes, lgtm, size/L, ok-to-test

#357 Add gcp.go from client-go to cloud-provider-gcp
  pkg/clientauthplugin/README.md
  pkg/clientauthplugin/gcp/BUILD
  pkg/clientauthplugin/gcp/gcp.go
  pkg/clientauthplugin/gcp/gcp_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XL, ok-to-test

#362 Tolerate CSRs without encipherment key usage
  cmd/gcp-controller-manager/node_csr_approver.go
  cmd/gke-exec-auth-plugin/request.go
  pkg/csrapproval/csrapproval.go
Labels: approved, cncf-cla: yes, lgtm, size/M
