Repository kubernetes/cloud-provider-gcp, pull requests merged in 2022-10, with the labels that each got.

#370 Read only resource csr approver
  cmd/gcp-controller-manager/BUILD
  cmd/gcp-controller-manager/kubelet_readonly_csr_approver.go
  cmd/gcp-controller-manager/kubelet_readonly_csr_approver_test.go
  cmd/gcp-controller-manager/loops.go
  cmd/gcp-controller-manager/main.go
Labels: approved, cncf-cla: yes, lgtm, size/XL, ok-to-test

#374 remove deprecation warning in new clientauthplugin package
  pkg/clientauthplugin/gcp/gcp.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#375 Add network CRDs to cloud-provider-gcp
  crd/apis/network/v1/BUILD
  crd/apis/network/v1/annotations.go
  crd/apis/network/v1/annotations_test.go
  crd/apis/network/v1/groupversion_info.go
  crd/apis/network/v1/network.go
  crd/apis/network/v1/network_types.go
  crd/apis/network/v1/networkinterface_types.go
  crd/apis/network/v1/zz_generated.deepcopy.go
  crd/apis/network/v1alpha1/BUILD
  crd/apis/network/v1alpha1/annotations.go
  crd/apis/network/v1alpha1/annotations_test.go
  crd/apis/network/v1alpha1/groupversion_info.go
  crd/apis/network/v1alpha1/network.go
  crd/apis/network/v1alpha1/network_types.go
  crd/apis/network/v1alpha1/networkinterface_types.go
  crd/apis/network/v1alpha1/zz_generated.deepcopy.go
  crd/config/crds/networking.gke.io_gcpfirewalls.yaml
  crd/config/crds/networking.gke.io_networkinterfaces.yaml
  crd/config/crds/networking.gke.io_networks.yaml
  crd/hack/update-codegen.sh
Labels: size/XXL, approved, cncf-cla: yes, lgtm, ok-to-test

#380 Add kubelet readonly csr to csr signer
  cmd/gcp-controller-manager/csr_signer.go
  cmd/gcp-controller-manager/csr_signer_test.go
  cmd/gcp-controller-manager/kubelet_readonly_csr_approver.go
  cmd/gcp-controller-manager/kubelet_readonly_csr_approver_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L, ok-to-test

#383 Bump to v1.25.3
  WORKSPACE
  cluster/gce/addons/konnectivity-agent/konnectivity-agent-ds.yaml
  cluster/gce/config-default.sh
  cluster/gce/gci/configure-helper.sh
  crd/apis/network/v1/BUILD
  crd/apis/network/v1alpha1/BUILD
  docs/instruction-how-to-bump-repository.md
  ginko-test-package-version.env
  go.mod
  go.sum
  providers/go.mod
  providers/go.sum
  tools/version.sh
  vendor/k8s.io/apiserver/pkg/util/flowcontrol/request/list_work_estimator.go
  vendor/k8s.io/cloud-provider/app/controllermanager.go
  vendor/k8s.io/cloud-provider/controllers/service/controller.go
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/client.go
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/conn.go
Labels: approved, cncf-cla: yes, lgtm, size/XL
