Repository kubernetes/cloud-provider-gcp, pull requests merged in 2023-06, with the labels that each got.

#556 Adding steps to build binaries for linux and windows platform
  cloudbuild.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#558 Remove DeletionTimestamp filtering for Networks to process.
  pkg/controller/nodeipam/ipam/multinetwork_cloud_cidr_allocator.go
Labels: approved, cncf-cla: yes, lgtm, sig/network, size/XS

#559 Change GNP controller to ignore case for Network kind match
  pkg/controller/gkenetworkparamset/gkenetworkparamset_controller.go
  pkg/controller/gkenetworkparamset/gkenetworkparamset_controller_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M, ok-to-test

#562 Add GNPDeleted to network apis
  crd/apis/network/v1/gkenetworkparamset_types.go
Labels: approved, cncf-cla: yes, lgtm, size/XS, ok-to-test

#561 Remove ParamsReady from Network on GNP deletion
  go.mod
  go.sum
  pkg/controller/gkenetworkparamset/BUILD
  pkg/controller/gkenetworkparamset/gkenetworkparamset_controller.go
  pkg/controller/gkenetworkparamset/gkenetworkparamset_controller_test.go
  vendor/k8s.io/cloud-provider-gcp/crd/apis/network/v1/gkenetworkparamset_types.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, size/L, ok-to-test

#563 Additional fixes for Multi-Network handling.
  pkg/controller/nodeipam/ipam/cloud_cidr_allocator.go
  pkg/controller/nodeipam/ipam/multinetwork_cloud_cidr_allocator.go
  pkg/util/node/BUILD
  pkg/util/node/node.go
Labels: approved, cncf-cla: yes, lgtm, sig/network, size/M

#565 Address Device type Network handling
  pkg/controller/nodeipam/ipam/cloud_cidr_allocator_test.go
  pkg/controller/nodeipam/ipam/multinetwork_cloud_cidr_allocator.go
  pkg/controller/nodeipam/ipam/multinetwork_cloud_cidr_allocator_test.go
Labels: approved, cncf-cla: yes, lgtm, sig/network, size/M

#564 Convert cloudCIDRAllocator to use workqueue.
  pkg/controller/nodeipam/ipam/BUILD
  pkg/controller/nodeipam/ipam/cloud_cidr_allocator.go
  pkg/controller/nodeipam/ipam/cloud_cidr_allocator_test.go
  pkg/controller/nodeipam/ipam/multinetwork_cloud_cidr_allocator_test.go
Labels: approved, cncf-cla: yes, lgtm, sig/network, size/L

#566 GNP controller cleans up Network ParamsReady on deletion
  cmd/cloud-controller-manager/BUILD
  cmd/cloud-controller-manager/gkenetworkparamsetcontroller.go
  pkg/controller/gkenetworkparamset/BUILD
  pkg/controller/gkenetworkparamset/gkenetworkparamset_controller.go
  pkg/controller/gkenetworkparamset/gkenetworkparamset_controller_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L, ok-to-test

#568 Replacing artifacts with using gstuil to copy the binaries
  cloudbuild.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#569 update go version to 1.20.5
  WORKSPACE
Labels: approved, cncf-cla: yes, lgtm, size/XS

#571 Fixing the binary names for windows plugins
  cloudbuild.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#575 Add workqueue drop metrics & remove redundant subnet errrors metric.
  pkg/controller/gkenetworkparamset/BUILD
  pkg/controller/gkenetworkparamset/gkenetworkparamset_controller.go
  pkg/controller/gkenetworkparamset/gkenetworkparamset_metrics.go
  pkg/controller/gkenetworkparamset/gnpcontroller_validations.go
  pkg/controller/nodeipam/ipam/BUILD
  pkg/controller/nodeipam/ipam/cloud_cidr_allocator.go
  pkg/controller/nodeipam/ipam/cloud_cidr_allocator_metrics.go
  pkg/controllermetrics/BUILD
  pkg/controllermetrics/controllermetrics.go
Labels: approved, cncf-cla: yes, lgtm, sig/network, size/M, ok-to-test
